:root {
  --mainColor: rgba(15, 107, 255, 0.8);
  --bgColor: #eee;
  --darkColor: #b3b3b3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
.darkApp {
  background: #121212;
  height: 100vh;
}

.app {
  background: #fff;
  height: 100vh;
}

.header,
.headerDark {
  background-color: var(--mainColor);
  width: 100%;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1,
.header span {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
.header span {
  border: 1px solid var(--darkColor);
}

.headerDark h1,
.headerDark span {
  color: white;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.headerDark {
  background-color: var(--darkColor);
}

.headerDark span {
  border: 1px solid white;
}

.header span,
.headerDark span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.header span:hover {
  border: 1px solid gray;
  background-color: #121212;
  color: #ccc;
}

.headerDark span:hover {
  border: 1px solid gray;
  background-color: white;
  color: #121212;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footer p {
  color: var(--darkColor);
}

.footerDark p {
  color: rgba(211, 211, 211, 0.5);
}

.note,
.noteDark {
  border-radius: 7px;
  border: 1px solid rgb(138, 137, 137);
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note {
  background: #fff;
}
.noteDark {
  background-color: #282828;
  color: var(--darkColor);
}
.note h1,
.noteDark h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  color: inherit;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: var(--mainColor);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.noteDark button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: var(--darkColor);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

form.create-note,
form.create-note-dark {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: transparent;
  padding: 15px;
  border-radius: 7px;
  border: 1px solid rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea,
form.create-note-dark input,
form.create-note-dark textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background-color: transparent;
  color: var(--darkColor);
}

form.create-note input,
form.create-note textarea {
  color: inherit;
}
form.create-note-dark input,
form.create-note-dark textarea {
  color: var(--darkColor);
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background-color: rgba(15, 107, 255, 1);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

form.create-note-dark button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background-color: var(--darkColor);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
